@model ICollection<Order>

<div class="container text-center mt-3">
    @if (@TempData["Message"] != null)
    {
        <p class="alert alert-info text-primary">@TempData["Message"]</p>
    }
    <div class="row my-5">
        <h3 class="text text-success text-center">Order List</h3>
        <div class="col">
            <table class="table table-bordered">
                <tr class="text-primary">
                    <th>Order Id</th>
                    <th>Customer Email</th>
                    <th>Order Quantity</th>
                    <th>Order Price</th>
                    <th>Order Date</th>
                    <th>Order Status</th>
                    <th>Menu</th>
                </tr>
                @foreach (var order in Model)
                {
                    <tr class="font-weight-bold">
                        <td>@order.Id</td>
                        <td>@order.UserEmail</td>
                        <td>@order.OrderQuantity</td>
                        <td class="text-danger">@order.OrderPrice $</td>
                        <td>@order.OrderDate</td>
                        <td class="text text-warning">@order.Status</td>
                        <td>
                            <a class="btn btn-warning text-white" asp-controller="Order" asp-action="Accept" asp-route-id="@order.Id">
                                Accept
                            </a>
                            <a class="btn btn-success" asp-controller="Order" asp-action="Reject" asp-route-id="@order.Id">
                                Reject
                            </a>
                            <a class="btn btn-danger" asp-controller="Order" asp-action="Delete" asp-route-id="@order.Id"
                           onclick="    return confirm('Are you sure to delete this order ?');">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
