@model BookShop.Models.Book

<div class="container col-md-10 text-center mt-3">
    <div class="row">
        <div class="col">
            <img src="@Model.Image" width="500" height="500">
            <h4 class="text text-success">@Model.Name</h4>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <th colspan="2" class="h2 bg-white text-success">Book Info</th>
                </tr>
                <tr>
                    <th>Book Manufactor Date</th>
                    <td>@Model.Date.ToShortDateString() </td>
                </tr>
                <tr>
                    <th>Book Quantity</th>
                    <th>
                        @if (@Model.Quantity == 0)
                        {
                            <p class="font-weight-bold">Out of stock</p>
                        }
                        else
                        {
                            <p>@Model.Quantity</p>
                        }
                    </th>
                </tr>
                <tr>
                    <th>Book Category</th>
                    <td>
                        <a asp-controller="Category" asp-action="Detail" asp-route-id="@Model.Category.Id">
                            @Model.Category.Name
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Book Detailed</th>
                    <td>
                        <a asp-controller="Detailed" asp-action="Detail" asp-route-id="@Model.Category.Detailed.Id">
                            @Model.Category.Detailed.Name
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>